@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
section{
    height: 500px;
    margin-bottom: 100px;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
h1{
    font-size: 40px;

}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.set-margin button{
    padding: 10px;
    background-color: blueviolet;
    border-radius: 5px;
    border: none;
}
.set-margin button a{
    text-decoration: none;
    padding: 20px;
    color: white;
    font-weight: bold;
}
.img-width{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.resume-banner{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-area{
    width: 37%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.middle-h1{
    font-size: 35px;
}

.experienxe-area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: -70px;
}
.half-width-two{
    width: 38%;
    float: left;
    margin-left: 7%;
    padding-left: 2%;
    margin-top: 37px;
}
#full-stack{
    border-left: 5px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#full-stack-one{
    border-left: 5px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
.single-experience{
    -webkit-box-shadow: 0px 0px 24px 0px rgba(64, 64, 66, 0.67);
    -moz-box-shadow: 0px 0px 24px 0px rgba(64, 64, 66, 0.67);
    box-shadow: 0px 0px 24px 0px rgba(64, 64, 66, 0.67);
    padding: 20px;
    border-radius: 5px;
    height: 50%; 
}
.ex{
    margin-left: 30px;
    margin-bottom: 5px;
}
footer p{
    text-align: center;
    color: thistle;
  
}