@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.add-bg{
    background-image: url(img/top-banner.png);
}
h1{
    font-size: 50px;

}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.set-margin button{
    padding: 10px;
    background-color: blueviolet;
    border-radius: 10px;
    border: none;
}
.set-margin button a{
    text-decoration: none;
    padding: 20px;
    color: white;
    font-weight: bold;
}
.img-width{
    width: 100%;
    height: auto;
    margin-top: 40px;
}